<div class="content">
    <div class="left-content">
        <h1>Welcome to our Blood Donation Site</h1>
        <p>
            This site aims to connect blood donors with those in need. Find a
            donor by selecting your criteria below:
        </p>
            <button id="new-donor-btn" onclick='goTo("register")'>New Donor</button>
            <button id="find donor" onclick='goTo("search")'>Find a donor now!</button>
    </div>
    <div class="right-content">
        <img src="big_image.png" alt="Blood Donation Image" />
    </div>
</div>
