<div class="content">
    <div class="filters">
        <label for="bloodType">Blood Type:</label>
        <select id="bloodType">
            <option value="all">ALL</option>
            <option value="A+">A+</option>
            <option value="A">A</option>
            <option value="B+">B+</option>
            <option value="B-">B-</option>
            <option value="AB+">AB+</option>
            <option value="AB-">AB-</option>
            <option value="O+">O+</option>
            <option value="O-">O-</option>
        </select>

        <label for="wilaya">Wilaya:</label>
        <select id="wilaya">
            <option value="all">ALL</option>
        </select>

        <label for="baladia">Baladia:</label>
        <select id="baladia">
            <option value="all">ALL</option>
        </select>

        <button id="apply">Apply</button>
    </div>

    <div class="search-results">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Blood Type</th>
                    <th>Wilaya</th>
                    <th>Baladia</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody id="search-results"></tbody>
        </table>
    </div>
</div>
