<div id="stats-content">
    <h1>Statistics</h1>
    <table>
        <thead>
            <tr>
                <th>Blood Type</th>
                <th>number of Donors</th>
            </tr>
        </thead>
        <tbody>
            <tr id="AB+content">
                <td>AB+</td>
                <td></td>
            </tr>
            <tr>
                <td>AB-</td>
                <td id="AB-content"></td>
            </tr>
            <tr>
                <td>A+</td>
                <td id="A+content"></td>
            </tr>
            <tr>
                <td>A-</td>
                <td id="A-content"></td>
            </tr>
            <tr>
                <td>B+</td>
                <td id="B+content"></td>
            </tr>
            <tr>
                <td>B-</td>
                <td id="B-content"></td>
            </tr>
            <tr>
                <td>O+</td>
                <td id="O+content"></td>
            </tr>
            <tr>
                <td>O-</td>
                <td id="O-content"></td>
            </tr>
            <tr>
                <td>total</td>
                <td id="totalcontent"></td>
            </tr>
        </tbody>
    </table>
</div>
