<div class="container">
    <style>
        /* start continer */
        #content {
            padding-left: 15px;
            padding-right: 15px;
            margin-left: auto;
            margin-right: auto;
            min-height: 91px;
            background-color: var(--coponentsBg);
            width: 95%;
            margin-inline: 10px;
            border-radius: 12px;
        }

        .active {
            color: var(--mainColor);
        }

        .container {
            margin: 20px;
        }

        .container * {
            margin: 10px;
        }

        .register-form {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
    <h1>Statistics</h1>
    <div class="unit-state">
        <div class="txt">
           <h3>Units Status</h3>
           <p>blood needed</p>
        </div>
        <div class="blood-rank">
           <div class="blood-type">
              <span class="blood">O+</span>
              <div class="rank" >
                 <div class="overlay-blod" id="o+" ></div>
              </div>
           </div>
           <div class="blood-type">
              <span class="blood">O-</span>
              <div class="rank" >
                 <div class="overlay-blod" id="o-" ></div>
              </div>
           </div>
           <div class="blood-type">
              <span class="blood">A+</span>
              <div class="rank" >
                 <div class="overlay-blod" id="a+" ></div>
              </div>
           </div>
           <div class="blood-type">
              <span class="blood">A-</span>
              <div class="rank" >
                 <div class="overlay-blod" id="a-" ></div>
              </div>
           </div>
           <div class="blood-type">
              <span class="blood">B+</span>
              <div class="rank" >
                 <div class="overlay-blod" id="b+" ></div>
              </div>
           </div>
           <div class="blood-type">
              <span class="blood">B-</span>
              <div class="rank" >
                 <div class="overlay-blod" id="b-" ></div>
              </div>
           </div>
           <div class="blood-type">
              <span class="blood">AB+</span>
              <div class="rank" >
                 <div class="overlay-blod" id="ab+" ></div>
              </div>
           </div>
           <div class="blood-type">
              <span class="blood">AB-</span>
              <div class="rank" >
                 <div class="overlay-blod" id="ab-" ></div>
              </div>
           </div>
        </div>
    </div>
</div>
